<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    .subject-name {
        font-weight: bold;
    }

    .department-name {
        font-style: italic;
        color: #666;
    }
</style>

<table>
    <tr>
        <th>Subject name</th>
        <td class="subject-name">{{subject.name}}</td>
    </tr>
    <tr>
        <th>Code</th>
        <td>{{subject.code}}</td>
    </tr>
    <tr>
        <th>Department</th>
        <td class="department-name">{{subject.department.name}}-{{subject.department.code}}</td>
    </tr>
    <tr>
        <th>Prerequisite</th>
        <td class="Prerequisite-name">{{subject.prerequisite}}</td>
    </tr>

    
</table>